<h1>Your rent has come to an end!</h1>

<p>Hi <%= @user.first_name %>, your're receiving this email because some time ago, <%= @rent.start_date %>, you rented</p>
<p>the book <%= @rent.title %>, and today, your rent has come to an end.</p>

<p>Thank you!</p>
